@model IEnumerable<Assignment.Models.Employee>

@{

    ViewData["Title"] = "Index";
}

<h1>Employee Table</h1>
<div class="text-right mr-5 mb-2 ">

    <button type="button" class="btn btn-info" data-toggle="ajax-modal" data-target="#AddEmployee" data-url='@Url.Action("AddorEdit","Employee")'>
        Add Employee
    </button>
    <button type="button" class="btn btn-info" data-toggle="ajax-modal" data-target="#AddDesignation" data-url='@Url.Action("Add","Designation")'>
        Add Designation
    </button>
    <button type="button" class="btn btn-info" data-toggle="ajax-modal" data-target="#AddDescription" data-url='@Url.Action("Add","Department")'>
        Add Department
    </button>

</div>
<table class="table ">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                FatherName
            </th>
            <th>
                JoiningDate
            </th>
            <th>
                Salary
            </th>
            <th>
                IsActive
            </th>
            <th>
                Department
            </th>
            <th>
                Designation
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.FatherName
                </td>
                <td>
                    @item.JoiningDate
                </td>
                <td>
                    @item.Salary
                </td>
                <td>
                    @item.IsActive
                </td>
                <td>
                    @item.Department.Name
                </td>
                <td>
                    @item.Designation.Name
                </td>
                <td>
                    <button type="button" class="btn btn-sm btn-primary d-inline" data-reload="employee-table" data-toggle="ajax-modal" data-url='@Url.Action("AddorEdit","Employee",new {id=item.EmployeeId })'>Update</button>
                    <button type="button" class="btn btn-sm btn-danger" data-delete="delete"id="employee-table" data-reload="employee-table" data-url="@Url.Action("Delete","Employee",new { id = item.EmployeeId })">Delete</button>
                </td>
            </tr>
        }
    </tbody>
</table>
@*<script>
    $('#employee-table').click(function () {
        location.reload();
    });
</script>*@

@*<script>
        function reloadtable(){
            debugger
            $('#employee-table').location.reload();
        }
    </script>*@

@*<script type="text/javascript">
        $(document).ready(function () {
            debugger
            $("button").click(function () {
                location.reload(true);
                alert('Reloading Page');
            });
        });
    </script>*@



